.theme-dark {
    --skeleton-bg: #2a2a2a;
    --skeleton-pulse-start: #333333;
    --skeleton-pulse-middle: #444444;
    --skeleton-pulse-end: #333333;
    --skeleton-icon-bg: #444444;
    --skeleton-title-bg: #555555;
    --skeleton-subtitle-bg: #666666;
    --skeleton-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    --foreground: #E6E6E6;
    --foreground-muted: #CFCFCF;
    --secondary: #9A9A9A;
    --outline: #444444;
    --background: #181818;
    --background-muted: #232323;
    --background-hover: #444444;
    --accent: #3AC584;
    --light-green-accent: #009973;
    --light-orange: #504235;
    --new: #D81A1A;
    --basic: #47B4EB;
    --advanced: #C452E0;
    --professional: #DF4985;
    --not-started: #E88C30;
    --in-development: #DADADA;
    --r-big: 24px;
    --pill: 400px;
    --new-transparency: 40px;
}