:root {
    --skeleton-bg: #f0f0f0;
    --skeleton-pulse-start: #eeeeee;
    --skeleton-pulse-middle: #dddddd;
    --skeleton-pulse-end: #eeeeee;
    --skeleton-icon-bg: #e0e0e0;
    --skeleton-title-bg: #e0e0e0;
    --skeleton-subtitle-bg: #dcdcdc;
    --skeleton-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);

    --foreground: #181818;
    --foreground-muted: #3C3C3C;
    --secondary: #5D5D5D;
    --outline: #DADADA;
    --background: #FFFFFF;
    --background-muted: #EFEFEE;
    --background-hover: #DDDDDD;
    --accent: #49CA8E;
    --light-green-accent: #B6EAD2;
    --light-orange: #FAE8D6;
    --new: #D81A1A;
    --basic: #47B4EB;
    --advanced: #C452E0;
    --professional: #DF4985;
    --not-started: #E88C30;
    --in-development: #DADADA;
    --r-big: 24px;
    --pill: 400px;
    --new-transparency: 20px;
}