/* Auto */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --secondary-text-color: #aaa;

        --box-shadow-header: 0 2px 6px rgba(255, 255, 255, 0.1);
        --dropdown-bg: #1e1e1e;
        --dropdown-border: #444;
        --dropdown-shadow: 0 10px 24px rgba(0, 0, 0, 0.8);
        --dropdown-item-color: #e0e0e0;
        --dropdown-item-hover: #2a2a2a;
        --logout-color: #ff4d4d;
        --divider-color: #555;

        --border-color: rgba(255, 255, 255, 0.3);

        /* Info Card */
        --card-bg: #1d1d1f;
        --card-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
        --card-hover-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);

        /* Primary Button */
        --button-bg: #222325;                   /* Тёмный фон по умолчанию */
        --button-border-color: #ededed;           /* Тёмная граница */
        --button-text-color: #ededed;          /* Белый текст */
        --button-hover-bg: #333335;            /* Более яркий тёмный фон при наведении */
        --button-hover-text-color: #ffffff;    /* Белый текст при наведении */
        --button-hover-border-color: #555;     /* Граница при наведении */
        --button-disabled-bg: #1d1d1f;         /* Фон для отключённой кнопки */
        --button-disabled-text-color: #555;    /* Тёмно-серый текст для отключённой кнопки */
        --button-disabled-border-color: #333;

        /* Skeleton */
        --skeleton-bg: #2a2a2a;             /* Фон для скелетона */
        --skeleton-pulse-start: #333333;    /* Начальный цвет анимации */
        --skeleton-pulse-middle: #444444;   /* Средний цвет анимации */
        --skeleton-pulse-end: #333333;      /* Конечный цвет анимации */
        --skeleton-icon-bg: #444444;        /* Фон для иконки */
        --skeleton-title-bg: #555555;       /* Фон для заголовка */
        --skeleton-subtitle-bg: #666666;    /* Фон для подзаголовка */
        --skeleton-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

        /* Tabs */
        --tab-bg: #333333;
        --tab-border-color: #444444;
        --tab-text-color: #eeeeee;
        --tab-hover-bg: #444444;
        --tab-hover-text-color: #ffffff;
        --tab-hover-border-color: #555555;
        --tab-active-bg-start: #555555;
        --tab-active-bg-end: #777777;
        --tab-active-text-color: #ffffff;
        --tab-active-shadow: rgba(255, 255, 255, 0.2);
        --tab-active-border-color: #666666;
        --tab-active-line-color: #ffffff; /* Активная линия */
    }

    html {
        color-scheme: dark;
    }
}

/* Manual */
.theme-dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --secondary-text-color: #aaa;

    --box-shadow-header: 0 2px 6px rgba(255, 255, 255, 0.1);
    --dropdown-bg: #1e1e1e;
    --dropdown-border: #444;
    --dropdown-shadow: 0 10px 24px rgba(0, 0, 0, 0.8);
    --dropdown-item-color: #e0e0e0;
    --dropdown-item-hover: #2a2a2a;
    --logout-color: #ff4d4d;
    --divider-color: #555;
    --border-color: rgba(255, 255, 255, 0.3);

    --card-bg: #1d1d1f;
    --card-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    --card-hover-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);

    /* Primary Button */
    --button-bg: #222325;                   /* Тёмный фон по умолчанию */
    --button-border-color: #ededed;           /* Тёмная граница */
    --button-text-color: #ededed;          /* Белый текст */
    --button-hover-bg: #333335;            /* Более яркий тёмный фон при наведении */
    --button-hover-text-color: #ffffff;    /* Белый текст при наведении */
    --button-hover-border-color: #555;     /* Граница при наведении */
    --button-disabled-bg: #1d1d1f;         /* Фон для отключённой кнопки */
    --button-disabled-text-color: #555;    /* Тёмно-серый текст для отключённой кнопки */
    --button-disabled-border-color: #333;

    /* Skeleton */
    --skeleton-bg: #2a2a2a;             /* Фон для скелетона */
    --skeleton-pulse-start: #333333;    /* Начальный цвет анимации */
    --skeleton-pulse-middle: #444444;   /* Средний цвет анимации */
    --skeleton-pulse-end: #333333;      /* Конечный цвет анимации */
    --skeleton-icon-bg: #444444;        /* Фон для иконки */
    --skeleton-title-bg: #555555;       /* Фон для заголовка */
    --skeleton-subtitle-bg: #666666;    /* Фон для подзаголовка */
    --skeleton-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    /* Tabs */
    --tab-bg: #333333;
    --tab-border-color: #444444;
    --tab-text-color: #eeeeee;
    --tab-hover-bg: #444444;
    --tab-hover-text-color: #ffffff;
    --tab-hover-border-color: #555555;
    --tab-active-bg-start: #555555;
    --tab-active-bg-end: #777777;
    --tab-active-text-color: #ffffff;
    --tab-active-shadow: rgba(255, 255, 255, 0.2);
    --tab-active-border-color: #666666;
    --tab-active-line-color: #ffffff; /* Активная линия */
}