.currentLessonPage {
    display: flex;
    width: 100%;
}

.currentLessonVideo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.currentLessonOptions {
    display: flex;
    width: 416px;
    height: 741px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.videoContainer {
    height: 624px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--outline);
    /*background: var(--outline);*/
    position: relative;
    opacity: 0.8;
    background: radial-gradient(50% 50% at 50% 50%, var(--accent) 8.17%, #181818 100%);
}

.paginationContainer {
    display: flex;
    width: 100%;
}

.relatedLessonsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    margin: 32px 0 96px 0;
}