.currentLessonPage {
    display: flex;
    width: 100%;
}

.currentLessonVideo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.currentLessonOptions {
    display: flex;
    width: 416px;
    height: 741px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.paginationContainer {
    display: flex;
    width: 100%;
}

.relatedLessonsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    margin: 32px 0 96px 0;
}

@media (max-width: 768px) {
    .currentLessonPage {
        display: flex;
        flex-direction: column;
    }

    .paginationContainer {
        display: flex;
        flex-direction: column;
    }

    .currentLessonOptions {
        width: 100%;
        height: 643px;
        margin-top: 28px;
    }

    .relatedLessonsContainer {
        display: flex;
        padding: 16px 0 40px 0;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin: 28px 0;
        gap: 16px;
    }
}