.currentLessonPage {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease;
    overflow: hidden;
}

.videoContainer {
    flex: 1;
    height: calc(100vh - 64px);
    transition: width 0.3s ease;
    position: relative;
}

.currentVideo {
    width: 100%;
    height: 100%;
}

.lessonDetails {
    width: 450px;
    max-width: 680px;
    margin: 0 auto;
    padding: 16px;
    font-family: var(--font-primary), sans-serif;
    color: #111;
    overflow: hidden;
    transition:
            max-width 0.3s ease,
            padding 0.3s ease,
            opacity 0.3s ease;
    opacity: 1;
}

.hidden {
    max-width: 0;
    padding: 0;
    opacity: 0;
}

.showDetailsButton {
    position: absolute;
    top: 16px;
    right: 16px;
    background: black;
    border-radius: 8px;
    display: flex;
    padding: 4px;
    cursor: pointer;
    opacity: 0;
}

.visible {
    transition: opacity 0.3s ease;
    opacity: 1;
}