.container {
    padding: 0 96px;
    margin-top: 104px;
    position: relative;
    height: calc(100vh - 104px);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.breadcrumbsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--foreground);
    font-family: var(--font-inter), sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.homeIcon {
    fill: var(--foreground);
}

.coursesSegment {
    line-height: 0;
}

.coursesSegment:hover {
    color: var(--accent);
    cursor: pointer;
}

.mainTitle {
    font-family: var(--font-taktika), sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 41px;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .container {
        padding: 16px 16px 40px 16px;
        gap: 28px;
        margin-top: 80px;
    }

    .breadcrumbsContainer {
        padding: 0 8px;
    }

    .breadcrumbs {
        display: block;
    }

    .coursesSegment {
        margin: 0 6px;
    }
}