.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 32px;
    box-shadow: var(--box-shadow-header);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    height: 64px;
    background-color: var(--background);
    font-family: var(--font-primary), Arial, Helvetica, sans-serif;
}

.logo {
    border-radius: 9999px;
    object-fit: cover;
    border: 2px solid var(--divider-color);
    cursor: pointer;
    user-select: none;
}

.nav {
    display: flex;
    align-items: center;
    gap: 36px;
}

.link {
    text-decoration: none;
    color: var(--foreground);
    font-weight: 500;
    transition: color 0.2s ease;
    user-select: none;
}

.link:hover, .underline {
    text-decoration: underline;
    text-underline-offset: 4px;
}

@media (max-width: 480px) {
    .link {
        font-size: 14px;
    }

    .avatar {
        width: 32px;
        height: 32px;
    }
}

.dropdownItem {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 12px 14px;
    color: var(--dropdown-item-color);
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.dropdownItem:hover {
    background-color: var(--dropdown-item-hover);
}

.logout {
    color: var(--logout-color);
}

.divider {
    border-top: 1px solid var(--divider-color);
}

.theme {
    line-height: 0;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}