.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 96px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    height: 80px;
    background-color: var(--background);
}

.opacity {
    background-color: rgba(var(--background), 0.8);
    backdrop-filter: blur(10px);
}

.nav {
    display: flex;
    align-items: center;
    gap: 28px;
}

.languages {
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    color: var(--secondary);
    user-select: none;
}

.selectedLanguage {
    width: 42px;
    color: var(--foreground);
}

.avatar {
    display: flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 400px;
    border: 1px solid var(--outline);
}

.xpContainer {
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    border: 2px solid var(--not-started);
    background: var(--light-orange);
}

.xpResult {
    color: var(--foreground);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.dropdownItem, .dropdownItemLogout {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    cursor: pointer;
    transition: background 0.2s ease;
    border-radius: 16px;
    border: none;
    width: 100%;
}

.dropdownItemName, .dropdownItemNameLogout {
    color: var(--secondary);
    font-family: var(--font-taktika), 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.dropdownItemLogout, .dropdownItemLogout:hover, .dropdownItemNameLogout {
    color: var(--new);
}

.icon {
    stroke: var(--secondary);
}

.dropdownItem:hover, .dropdownItem:hover .icon, .dropdownItem:hover .dropdownItemName {
    stroke: var(--foreground-muted);
    color: var(--foreground-muted);
}

.iconLogout {
    stroke: var(--new);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.telegram {
    fill: var(--background);
}

@media (max-width: 768px) {
    .header {
        padding: 20px 16px;
        background-color: var(--background);
        backdrop-filter: none;
    }

    .nav {
        gap: 8px;
    }

    .xpContainer {
        padding: 4px 16px;
    }
}