.courseContainer {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.courseLessonsContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.lessonsContent {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    padding-bottom: 48px;
}

.lessonsWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}