.lessonsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    justify-content: center; /* Выравнивание по центру */
}

.lesson {
    max-width: 100%;
    background: var(--background);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0.95;
}

.lesson:hover {
    transform: scale(1.03);
    opacity: 1;
}

@media (min-width: 1200px) {
    /* Ограничиваем количество видео до 4 в ряд */
    .lessonsContainer {
        grid-template-columns: repeat(4, 1fr); /* На экранах >1200px фиксируем 5 столбцов */
    }
}

@media (max-width: 1024px) {
    /* Регулируем количество видео до 3 в ряд для меньших экранов */
    .lessonsContainer {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}

@media (max-width: 768px) {
    /* Регулируем до 2 столбцов для планшетов */
    .lessonsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    /* У одного столбца для мобильных устройств */
    .lessonsContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    height: 34px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 8px;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 26px;
}

.slug {
    font-weight: bolder;
}

