.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service {
  display: flex;
  padding: 28px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  height: 393px;
  border-radius: 24px;
  border: 1px solid var(--outline);
  background: var(--background);
  position: relative;
  overflow: hidden;
}

.service:hover {
  border: 1px solid var(--secondary);
}

.service:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.service:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 4;
}

.backgroundImage {
  aspect-ratio: 1 / 1;
  position: absolute;
  right: 0;
  bottom: 0;
}

.serviceHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.title {
  color: var(--foreground);
  font-family: var(--font-taktika), sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
}

.short {
  color: var(--secondary);
  font-family: var(--font-inter), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /*flex: 1;*/
  max-width: 500px;
  flex: 1 0 0;
  align-self: stretch;
}

.footer {
  display: flex;
  align-items: center;
  gap: 32px;
}

.price {
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}