.tabs {
    display: flex;
    padding: 0 4px;
    align-items: center;
}

.tab {
    display: inline-flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--foreground);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.tab.active {
    border-bottom: 2px solid var(--foreground);
}

.tab.active.tab:hover {
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
}

.tab:hover {
    color: var(--accent);
}