.container {
    padding: 48px;
    margin-top: 48px;
    font-family: var(--font-geist-sans);
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

@media (max-width: 768px) {
    .container {
        padding: 48px 24px;
    }
}