.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: all;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blurBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.loadingIcon {
    position: relative;
    width: 50px;
    height: 50px;
}

.pulse {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(
            circle,
            rgba(255, 189, 105, 0.3),
            rgba(255, 92, 175, 0.1)
    );
    animation: pulseAnim 1.5s ease-out infinite;
}

.dot {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #ff6ec4, #7873f5);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 110, 196, 0.5);
    z-index: 2;
}

.caption {
    margin-top: 12px;
    font-size: 14px;
    color: #555;
    text-align: center;
    max-width: 200px;
    word-wrap: break-word;
    user-select: none;
    z-index: 9999;
    font-family: var(--font-geist-sans);
}

@keyframes pulseAnim {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    70% {
        transform: scale(2.3);
        opacity: 0;
    }
    100% {
        transform: scale(2.3);
        opacity: 0;
    }
}

